.conditions {
    background-color: #f9f9f9;
    position: relative;

    &-item {
        max-width: 720px;
        margin-bottom: 50px;

        &__icon {
            margin-bottom: 25px;

            img {
                display: block;
                margin-left: -20px;
                @media (max-width: 1024px) {
                    margin: 0 auto;
                }
            }
        }

        &__title {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 25px;
        }

        &__description {
            font-size: 18px;
            font-weight: 400;
            color: #464646;
        }
    }
}
