.feedback {
    background-color: #f9f9f9;
    form {
        margin-left: -15px;
        margin-right: -15px;
        .input-form {
            width: 320px;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 35px;
        }
    }
    .section-header__subtitle {
        font-size: 18px;
    }
}
