html, body {
    overflow-x: hidden;
    color: #1E1E1E;
    font-family: 'Roboto', sans-serif;
}

a, button {
    &:hover {
        transition: all 0.3s;
    }
}

.button {
    background-color: #80aafc;
    padding: 12px 22px;
    font-weight: 500;
    border: 2px solid #80AAFC;
    border-radius: 25px 25px 5px 25px;
    font-size: 18px;
    color: #fff;
    &:hover {
        background-color: #5980d5;
        border: 2px solid #5980d5;
    }
}

.button-with-arrow {
    display: flex;
    align-items: center;
    &:after {
        content: "";
        width: 14px;
        height: 14px;
        margin-left: 15px;
        background: url("../img/arrow.svg") no-repeat center;
    }
}

.font-custom {
    text-transform: uppercase;
    font-family: 'Stampbor Grunge Russian';
    font-weight: normal;
    font-style: normal;
}

section {
    padding: 80px 0 80px 0;
    @media (max-width: 1024px) {
        padding: 40px 0 40px 0;
    }
}
.section-header {
    text-align: center;
    &__title {
        font-size: 80px;
        font-weight: 400;
        line-height: 0.9;
        margin-bottom: 25px;
        @media (max-width: 1024px) {
            font-size: 50px;
        }
    }
    &__subtitle {
        font-size: 24px;
        @media (max-width: 1024px) {
            font-size: 22px;
        }
    }
}
.section-content {
    margin-top: 80px;
    @media (max-width: 1024px) {
        margin-top: 40px;
        text-align: center;
    }
    &__left {
        flex: 0 0 50%;
        @media (max-width: 1024px) {
            margin-bottom: 40px;
        }
    }
    &__right {
        flex: 0 0 50%;
    }
    &__title {
        font-size: 38px;
        font-weight: 500;
        max-width: 450px;
        line-height: 0.9;
        margin-bottom: 15px;
    }
    &__subtitle {
        font-size: 15px;
        font-weight: 400;
        color: #464646;
    }
}
