.conditions {
    background-color: #f9f9f9;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        width: 84px;
        height: 84px;
        background: url("../img/rectangle-blur-white.png") no-repeat;
        background-size: cover;
        margin-right: 50%;
        top: 450px;
        right: -800px;
    }
    &-item {
        margin-bottom: 50px;

        &__icon {
            margin-bottom: 25px;

            img {
                display: block;
                margin-left: -20px;
                @media (max-width: 1024px) {
                    margin: 0 auto;
                }
            }
        }

        &__title {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 25px;
        }

        &__description {
            font-size: 18px;
            font-weight: 400;
            color: #464646;
            text-align: left;
        }
    }
}
