header {
    min-height: 100vh;
    background: linear-gradient(288.07deg, #222324 38.9%, #222324 69.33%);
    color: #fff;
    position: relative;
    padding-bottom: 50px;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        width: 67px;
        height: 67px;
        background-image: url("../img/header-elipse.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        top: 355px;
        right: -35px;
        margin-right: 0;
        @media (min-width: 768px) {
            width: 108px;
            height: 108px;
            right: 50%;
            margin-right: -900px;
        }
    }

    &:after {
        content: "";
        position: absolute;
        width: 875px;
        height: 902px;
        background: url("../img/header-figures.svg") no-repeat;
        bottom: -300px;
        left: 0;
    }

    .header-nav {
        padding-top: 28px;

        &__burger {
            z-index: 10;

            .burger-button {
                width: 87px;
                height: 47px;
                display: flex;
                align-items: center;

                img {
                    width: 21px;
                    height: 17px;
                    display: block;
                }
            }
        }

        &__logo {
            width: 166px;
            height: 40px;
            z-index: 1;
            @media (max-width: 640px) {
                width: 124px;
                height: 30px;
            }
        }

        &__navigation {
            font-weight: 500;
            font-size: 1rem;

            .close-button {
                position: absolute;
                top: 45px;
                right: 20px;
            }

            ul {
                li {
                    margin-left: 25px;
                    margin-right: 25px;
                    @media (max-width: 1024px) {
                        margin-left: 10px;
                        margin-right: 10px;
                        font-size: 14px;
                    }
                    @media (max-width: 768px) {
                        margin-bottom: 40px;
                    }
                }

                @media (max-width: 768px) {
                    flex-direction: column;
                    margin-top: 100px;
                    margin-left: 5px;
                }
            }

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            @media (max-width: 768px) {
                background: #1E1E1E;
                position: fixed;
                top: 0;
                left: 0;
                width: Max(220px, 20%);
                bottom: 0;
                z-index: 10;
                opacity: 0.98;
                visibility: hidden;
                transform: translateX(-100%);
                transition: transform 0.3s ease-out, opacity 0.3s ease-out;
                display: block;
            }

        }

        .show {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
        }

        .button {
            background-color: transparent;
            @media (max-width: 640px) {
                padding: 8px 12px;
            }
        }
    }

    .first-screen {
        z-index: 1;
        position: relative;
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            width: 875px;
            height: 902px;
            margin-top: 100px;
            background: url("../img/first-wrapper.svg") no-repeat center;
            background-size: cover;
            top: -160px;
            left: -25px;
            z-index: 0;
        }

        &-left {
            z-index: 1;

            &__content {
                @media (max-width: 768px) {
                    text-align: center;
                }
            }

            &__title {
                line-height: 0.7;
                margin-top: 20px;
                font-size: 132px;
                @media (max-width: 640px) {
                    font-size: 66px;
                    margin-top: 60px;
                }
                @media (max-width: 1024px) {
                    font-size: 80px;
                    margin-top: 60px;
                }
            }

            &__subtitle {
                font-size: 32px;
                @media (max-width: 640px) {
                    font-size: 18px;
                }
            }
        }

        &-right {
            position: relative;
            margin-right: 150px;
            @media (max-width: 1760px) {
                margin-right: 0;
            }

            img {
                margin-top: 40px;
                width: 707px;
                height: auto;
                object-fit: contain;
            }

            &:after {
                content: "";
                position: absolute;
                background-image: url("../img/rectangle-blur.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 52px;
                height: 52px;
                left: -90px;
                bottom: 100px;
                @media (max-width: 1480px) {
                    left: -15px;
                    top: 5px;
                }
            }
        }

        &__description {
            display: flex;
            align-items: center;
            font-style: italic;
            font-size: 15px;
            &:before {
                flex: 0 0 auto;
                content: "";
                background: url("../img/header-location.svg") no-repeat center;
                background-size: cover;
                width: 18px;
                height: 20px;
                margin-right: 25px;
            }
        }
    }
}
