@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-LightItalic.woff2") format("woff2"), url("/fonts/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.woff2") format("woff2"), url("/fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Black.woff2") format("woff2"), url("/fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-BlackItalic.woff2") format("woff2"), url("/fonts/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-BoldItalic.woff2") format("woff2"), url("/fonts/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light.woff2") format("woff2"), url("/fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-MediumItalic.woff2") format("woff2"), url("/fonts/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"), url("/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Thin.woff2") format("woff2"), url("/fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Italic.woff2") format("woff2"), url("/fonts/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.woff2") format("woff2"), url("/fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-ThinItalic.woff2") format("woff2"), url("/fonts/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Stampbor Grunge Russian";
  src: url("/fonts/StampborGrungeRussian.otf") format("opentype"), url("/fonts/StampborGrungeRussian.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html, body {
  overflow-x: hidden;
  color: #1E1E1E;
  font-family: "Roboto", sans-serif;
}

a:hover, button:hover {
  transition: all 0.3s;
}

.button {
  background-color: #80aafc;
  padding: 12px 22px;
  font-weight: 500;
  border: 2px solid #80AAFC;
  border-radius: 25px 25px 5px 25px;
  font-size: 18px;
  color: #fff;
}
.button:hover {
  background-color: #5980d5;
  border: 2px solid #5980d5;
}

.button-with-arrow {
  display: flex;
  align-items: center;
}
.button-with-arrow:after {
  content: "";
  width: 14px;
  height: 14px;
  margin-left: 15px;
  background: url("../img/arrow.svg") no-repeat center;
}

.font-custom {
  text-transform: uppercase;
  font-family: "Stampbor Grunge Russian";
  font-weight: normal;
  font-style: normal;
}

section {
  padding: 80px 0 80px 0;
}
@media (max-width: 1024px) {
  section {
    padding: 40px 0 40px 0;
  }
}

.section-header {
  text-align: center;
}
.section-header__title {
  font-size: 80px;
  font-weight: 400;
  line-height: 0.9;
  margin-bottom: 25px;
}
@media (max-width: 1024px) {
  .section-header__title {
    font-size: 50px;
  }
}
.section-header__subtitle {
  font-size: 24px;
}
@media (max-width: 1024px) {
  .section-header__subtitle {
    font-size: 22px;
  }
}

.section-content {
  margin-top: 80px;
}
@media (max-width: 1024px) {
  .section-content {
    margin-top: 40px;
    text-align: center;
  }
}
.section-content__left {
  flex: 0 0 50%;
}
@media (max-width: 1024px) {
  .section-content__left {
    margin-bottom: 40px;
  }
}
.section-content__right {
  flex: 0 0 50%;
}
.section-content__title {
  font-size: 38px;
  font-weight: 500;
  max-width: 450px;
  line-height: 0.9;
  margin-bottom: 15px;
}
.section-content__subtitle {
  font-size: 15px;
  font-weight: 400;
  color: #464646;
}

header {
  min-height: 100vh;
  background: linear-gradient(288.07deg, #222324 38.9%, #222324 69.33%);
  color: #fff;
  position: relative;
  padding-bottom: 50px;
  overflow: hidden;
}
header:before {
  content: "";
  position: absolute;
  width: 67px;
  height: 67px;
  background-image: url("../img/header-elipse.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 355px;
  right: -35px;
  margin-right: 0;
}
@media (min-width: 768px) {
  header:before {
    width: 108px;
    height: 108px;
    right: 50%;
    margin-right: -900px;
  }
}
header:after {
  content: "";
  position: absolute;
  width: 875px;
  height: 902px;
  background: url("../img/header-figures.svg") no-repeat;
  bottom: -300px;
  left: 0;
}
header .header-nav {
  padding-top: 28px;
}
header .header-nav__burger {
  z-index: 10;
}
header .header-nav__burger .burger-button {
  width: 87px;
  height: 47px;
  display: flex;
  align-items: center;
}
header .header-nav__burger .burger-button img {
  width: 21px;
  height: 17px;
  display: block;
}
header .header-nav__logo {
  width: 166px;
  height: 40px;
  z-index: 1;
}
@media (max-width: 640px) {
  header .header-nav__logo {
    width: 124px;
    height: 30px;
  }
}
header .header-nav__navigation {
  font-weight: 500;
  font-size: 1rem;
}
header .header-nav__navigation .close-button {
  position: absolute;
  top: 45px;
  right: 20px;
}
header .header-nav__navigation ul li {
  margin-left: 25px;
  margin-right: 25px;
}
@media (max-width: 1024px) {
  header .header-nav__navigation ul li {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  header .header-nav__navigation ul li {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  header .header-nav__navigation ul {
    flex-direction: column;
    margin-top: 100px;
    margin-left: 5px;
  }
}
header .header-nav__navigation a {
  text-decoration: none;
}
header .header-nav__navigation a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  header .header-nav__navigation {
    background: #1E1E1E;
    position: fixed;
    top: 0;
    left: 0;
    width: max(220px, 20%);
    bottom: 0;
    z-index: 10;
    opacity: 0.98;
    visibility: hidden;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    display: block;
  }
}
header .header-nav .show {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
header .header-nav .button {
  background-color: transparent;
}
@media (max-width: 640px) {
  header .header-nav .button {
    padding: 8px 12px;
  }
}
header .first-screen {
  z-index: 1;
  position: relative;
  overflow: hidden;
}
header .first-screen:before {
  content: "";
  position: absolute;
  width: 875px;
  height: 902px;
  margin-top: 100px;
  background: url("../img/first-wrapper.svg") no-repeat center;
  background-size: cover;
  top: -160px;
  left: -25px;
  z-index: 0;
}
header .first-screen-left {
  z-index: 1;
}
@media (max-width: 768px) {
  header .first-screen-left__content {
    text-align: center;
  }
}
header .first-screen-left__title {
  line-height: 0.7;
  margin-top: 20px;
  font-size: 132px;
}
@media (max-width: 640px) {
  header .first-screen-left__title {
    font-size: 66px;
    margin-top: 60px;
  }
}
@media (max-width: 1024px) {
  header .first-screen-left__title {
    font-size: 80px;
    margin-top: 60px;
  }
}
header .first-screen-left__subtitle {
  font-size: 32px;
}
@media (max-width: 640px) {
  header .first-screen-left__subtitle {
    font-size: 18px;
  }
}
header .first-screen-right {
  position: relative;
  margin-right: 150px;
}
@media (max-width: 1760px) {
  header .first-screen-right {
    margin-right: 0;
  }
}
header .first-screen-right img {
  margin-top: 40px;
  width: 707px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
header .first-screen-right:after {
  content: "";
  position: absolute;
  background-image: url("../img/rectangle-blur.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 52px;
  height: 52px;
  left: -90px;
  bottom: 100px;
}
@media (max-width: 1480px) {
  header .first-screen-right:after {
    left: -15px;
    top: 5px;
  }
}
header .first-screen__description {
  display: flex;
  align-items: center;
  font-style: italic;
  font-size: 15px;
}
header .first-screen__description:before {
  flex: 0 0 auto;
  content: "";
  background: url("../img/header-location.svg") no-repeat center;
  background-size: cover;
  width: 18px;
  height: 20px;
  margin-right: 25px;
}

.conditions {
  background-color: #f9f9f9;
  position: relative;
}
.conditions:after {
  content: "";
  position: absolute;
  width: 84px;
  height: 84px;
  background: url("../img/rectangle-blur-white.png") no-repeat;
  background-size: cover;
  margin-right: 50%;
  top: 450px;
  right: -800px;
}
.conditions-item {
  margin-bottom: 50px;
}
.conditions-item__icon {
  margin-bottom: 25px;
}
.conditions-item__icon img {
  display: block;
  margin-left: -20px;
}
@media (max-width: 1024px) {
  .conditions-item__icon img {
    margin: 0 auto;
  }
}
.conditions-item__title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 25px;
}
.conditions-item__description {
  font-size: 18px;
  font-weight: 400;
  color: #464646;
  text-align: left;
}

.responsibilities {
  position: relative;
}
.responsibilities:after {
  content: "";
  position: absolute;
  width: 74px;
  height: 74px;
  background: url("../img/rectangle-blur-white.png") no-repeat;
  background-size: cover;
  margin-left: 50%;
  left: -800px;
  bottom: 600px;
}
.responsibilities-item {
  margin-bottom: 35px;
  align-items: baseline;
}
.responsibilities-item__integer {
  font-size: 50px;
  color: #80AAFC;
  margin-right: 20px;
}
.responsibilities-item__description {
  max-width: 720px;
  font-size: 18px;
  font-weight: 400;
  color: #464646;
  text-align: left;
}
.responsibilities .section-content__subtitle {
  max-width: 480px;
  font-size: 24px;
  font-weight: 500;
}

.feedback {
  background-color: #f9f9f9;
  position: relative;
}
.feedback:after {
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  background: url("../img/rectangle-blur-white.png") no-repeat;
  background-size: cover;
  margin-right: 50%;
  top: 250px;
  right: -700px;
}
.feedback form {
  margin-left: -15px;
  margin-right: -15px;
}
.feedback form .input-form {
  width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 35px;
}
.feedback .section-header__subtitle {
  font-size: 18px;
}

.about {
  padding: 0 0 80px 0;
  position: relative;
  overflow: hidden;
}
.about:after {
  content: "";
  position: absolute;
  width: 79px;
  height: 115px;
  background: url("../img/group.png") no-repeat;
  background-size: cover;
  margin-left: 50%;
  bottom: 150px;
  left: -600px;
}
@media (max-width: 640px) {
  .about:after {
    width: 50px;
    height: 74px;
    bottom: 870px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.about-header {
  color: #fff;
  background: linear-gradient(288.07deg, #222324 38.9%, #222324 69.33%);
  padding: 110px 0 110px 0;
  overflow: hidden;
  position: relative;
}
.about-header:after {
  content: "";
  position: absolute;
  width: 875px;
  height: 902px;
  background: url("../img/header-figures.svg") no-repeat;
  bottom: -300px;
  left: 0;
}
.about-header:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 60px;
  background: url("../img/ellipse.png") no-repeat;
  bottom: 0;
  right: -55px;
  transform: rotate(180deg);
}
@media (min-width: 640px) {
  .about-header:before {
    top: 0;
    right: 80px;
    transform: rotate(0deg);
  }
}
.about-header__slice {
  position: absolute;
  margin-right: 50%;
  right: -1000px;
  top: 0;
}
.about-header__rectangle {
  position: absolute;
  margin-right: 50%;
  right: -780px;
  bottom: 80px;
}
.about-header__rectangle-pink {
  position: absolute;
  margin-left: 50%;
  left: -700px;
  bottom: 90px;
}
.about-header__title {
  font-size: 50px;
  text-align: center;
  position: relative;
  z-index: 5;
}
@media (min-width: 1024px) {
  .about-header__title {
    font-size: 80px;
  }
}
.about-header__title:after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: url("../img/first-wrapper.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: -185px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.about .section-content__subtitle {
  max-width: 480px;
  font-size: 24px;
  font-weight: 500;
}
.about .about-item {
  margin-bottom: 35px;
  align-items: baseline;
}
@media (max-width: 640px) {
  .about .about-item {
    margin-top: 50px;
  }
}
.about .about-item__integer {
  font-size: 50px;
  color: #80AAFC;
  margin-right: 20px;
}
.about .about-item__description {
  max-width: 720px;
  font-size: 18px;
  font-weight: 400;
  color: #464646;
  text-align: left;
}
.about .about-item__img {
  flex: 0 0 auto;
}
.about .about-item-img {
  align-items: center;
}
@media (min-width: 1024px) {
  .about .about-item-img {
    margin-left: -30px;
  }
}
.about .about-item-img img {
  display: block;
  width: 112px;
  height: 114px;
}

.projects {
  background-color: #f9f9f9;
}
.projects .section-content__left {
  flex: 0 0 40%;
}
.projects .section-content__right {
  flex: 0 1 60%;
}
.projects-contacts {
  font-size: 18px;
  color: #852984;
}
.projects ul {
  margin-right: -25px;
  margin-left: -25px;
}
@media (max-width: 1024px) {
  .projects ul {
    justify-content: center;
  }
}
.projects ul li {
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 55px;
}
.projects ul li img {
  width: 106px;
}
.projects .section-content__subtitle {
  font-size: 24px;
}

footer {
  background-color: #1E1E1E;
  color: #8e8e8e;
  font-size: 14px;
  padding: 20px 0 20px 0;
}
footer ul {
  justify-content: center;
  align-items: center;
  margin-left: -12px;
  margin-right: -12px;
}
footer ul li {
  padding: 0 12px 0 12px;
}
@media (max-width: 1024px) {
  footer ul li {
    margin: 10px 0 10px 0;
  }
}
footer a {
  color: #fff;
  text-decoration: underline;
}
footer a:hover {
  text-decoration: none;
}

.modal {
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  max-width: 950px;
  max-height: 600px;
  margin: 0 auto;
  padding: 120px;
  z-index: 100;
  bottom: 50px;
  left: 0;
  right: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  display: block;
}
@media (max-width: 1480px) {
  .modal {
    padding: 80px;
  }
}
@media (max-width: 1024px) {
  .modal {
    padding: 60px;
  }
}
@media (max-width: 768px) {
  .modal {
    padding: 30px;
    text-align: center;
  }
}
.modal-show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.modal .section-header__title {
  font-size: 32px;
}
.modal .section-content {
  max-height: 300px;
  overflow: scroll;
  margin-top: 20px;
  text-align: justify;
  position: relative;
}
